<!DOCTYPE html>
<html>
<head>
	<title>Email Predictor</title>
</head>
<body>
<h1>Email Predictor</h1>
<div class="input">
<form action="/" method="post">
<label for="advisor_name">Advisor's Name: </label>
<input name="advisor_name" type="text">

<label for="advisor_domain">Advisor's Company Domain: </label>
<input name="advisor_domain" type="text">
<input type="submit" value="Submit">
<button>New Query</button>
</form>
</div>
<div class="output">
<textarea readonly="" class="report"><%= @report %></textarea>
</div>
</body>
</html>